{{> head }}
{{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1> Primer titulo </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nulla rerum sit, in, quae, voluptatem consequuntur vel temporibus corporis blanditiis qui reiciendis quisquam! Sint eius, illo non natus alias expedita?</p>
        </div>

        <div class="col-4">
            <img src="assets/img/Captura de pantalla (71).png" class="img-thumbnail" />
        </div>

    </div>

{{> footer}}